@font-face {
  font-family: 'Karla', sans-serif;
  src: url('../assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('ttf'),
  url('../assets/fonts/Karla-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

// Colors
$LightGreen: hsl(148, 38%, 91%);
$Green: hsl(169, 82%, 27%);
$Red: hsl(0, 66%, 56%);
$White: hsl(0, 0%, 100%);
$MediumGrey: hsl(186, 15%, 59%);
$DarkGrey: hsl(187, 24%, 22%);

$size: 16px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

}

input[type='email'], input[type='text'] {
  padding: 14px;
  border-radius: 5px;
  border: 1px solid $MediumGrey;
  outline: none;
  margin: 10px 0;
  cursor: pointer;
}

label {
  color: $DarkGrey;
  font-size: $size;
}

.star {
  color: $Green;
}

.error {
  color: $Red;
  visibility: hidden;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: 'karla', sans-serif;
  background-color: $LightGreen;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    background-color: $White;
    margin: 100px auto;
    padding: 30px 40px;
    border-radius: 25px;
    width: 50%;

    h1 {
      color: $DarkGrey;
      margin-bottom: 20px;
    }

    .name {
      display: flex;
      align-items: center;
      gap: 15px;

      div {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }

    .email {
      display: flex;
      flex-direction: column;
      margin: 25px 0;
    }

    .phone {
      display: flex;
      flex-direction: column;
      margin: 25px 0;
    }

    .message {
      display: flex;
      flex-direction: column;
      margin: 25px 0;

      textarea {
        border: 1px solid $MediumGrey;
        outline: none;
        width: 100%;
        height: 160px;
        resize: none;
        margin: 15px 0;
        font-size: 20px;
        padding: 15px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          border-color: $Green;
        }
      }
    }

    .consent {
      div {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        input {
          cursor: pointer;
          width: 20px;
          height: 20px;
          accent-color: $Green;
        }

        label {
          cursor: pointer;
          margin-left: 15px;
        }
      }
    }

    input[type='submit'] {
      background-color: $Green;
      width: 100%;
      padding: 20px;
      margin: 35px 0 0 0;
      border: none;
      outline: none;
      border-radius: 5px;
      color: $LightGreen;
      font-weight: bold;
      letter-spacing: 2px;
      cursor: pointer;
    }
  }

  .modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    z-index: 1000; /* Модальное окно поверх других элементов */

    .modal-content {
      background-color: #fff;
      border-radius: 10px;
      padding: 20px;
      width: 80%;
      max-width: 500px; /* Ограничение максимального размера */
      position: relative; /* Для позиционирования кнопки закрытия */

      .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
        color: #333;
      }
    }
  }

  .favorite-button {
    background-color: $Red;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    padding: 12px 18px;
    border-radius: 4px;

    :hover {
      box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.44);
    }
  }
}

input:hover {
  border-color: $Green;
}

@media (max-width: 990px) {
  body {
    form {
      width: 80%;
    }
  }
}

@media (max-width: 625px) {
  body {
    form {
      width: 80%;

      .name {
        flex-direction: column;
        align-items: stretch;
      }

      .phone {
        flex-direction: column;
        align-items: stretch;
      }
    }
  }
}

@media (min-width: 450px) {
  body {
    form {
      width: 92%;
      padding: 20px;
      margin: 40px auto;
      border-radius: 12px;

      h1 {
        font-size: 25px;
      }

      .name {
        flex-direction: column;
        align-items: stretch;
      }

      input[type='submit'] {
        padding: 15px;
      }

      .consent {
        label {
          font-size: 14px;
        }
      }
    }
  }
  input[type='text'], input[type='email'] {
    padding: 11px;
  }
}